html {
    font-family: sans-serif;
}


section {
    line-height: 1.5em;
}
section > label {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
    font-size: 1.2em;
    padding-top: 1em;
    margin-bottom: 0.5em;
}


b {
    font-weight: normal;
    font-family: monospace;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2em;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.1em 0.5em;
}

table {
    border-collapse: collapse;
    line-height: 1em;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    font-weight: normal;
}

.error {
    color: red;
}
