{% extends "admin/change_list.html" %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if cl.lm_action %}
        &rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
        &rsaquo; {% if has_change_permission %}<a href="{% url cl.opts|admin_urlname:'changelist' %}">{{ cl.opts.verbose_name_plural|capfirst }}</a>{% else %}{{ cl.opts.verbose_name_plural|capfirst }}{% endif %}
        &rsaquo; {{ cl.lm_action|capfirst }}
    {% else %}
        &rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
        &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
    {% endif %}
</div>
{% endblock %}

{% block object-tools-items %}
    {# TODO: update to use 'change_list_object_tools.html` with Django 2.1 release #}
    {% if lm_action_buttons %}
        {% for name, url in lm_action_buttons %}
            <li><a href="{{ url }}">{{ name|capfirst }}</a></li>
        {% endfor %}
    {% endif %}
    {% if has_add_permission %}
    <li>
      {% url cl.opts|admin_urlname:'add' as add_url %}
      <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
      </a>
    </li>
    {% endif %}
{% endblock %}