{% extends "admin/language_manager/change_list.html" %}

{% block content %}
    <h2>Migration</h2>
    {% if migration %}
    <pre><code>{{ migration }}</code></pre>
    {% else %}
        <p>No migrations, translations in your database are up to date</p>
    {% endif %}
    <h2>reference .pot content</h2>
    <pre><code>{{ ref_pot_content }}</code></pre>
{% endblock %}