{% extends "admin/language_manager/change_list.html" %}

{% block content %}
    <p>Time spent: {{ time_spent }}</p>
    {% for locale, content in po_contents %}
        <h2>.po file for '{{ locale }}'</h2>
        <pre><code>{{ content }}</code></pre>
    {% endfor %}
{% endblock %}