{% load l10n %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test translations</title>
    <link rel="stylesheet" type="text/css" href="{% static "demo/styles.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<section>
    <label>Current settings</label>
    <pre><code class="python">
{{ settings }}
    </code></pre>
</section>

<section>
    <label>Languages table</label>
    {% get_available_languages as LANGUAGES %}
    <table>
        <tr><th>Obj</th><th>Code</th><th>Name</th><th>Name local</th><th>Name translated</th><th>BIDI</th></tr>
        {% for lang_code in LANGUAGES %}
            {% get_language_info for lang_code.0 as lang %}
            <tr>
                <td>{{ lang_code }}</td>
                <td>{{ lang.code }}</td>
                <td>{{ lang.name }}</td>
                <td>{{ lang.name_local }}</td>
                <td>{{ lang.name_translated }}</td>
                <td>{{ lang.bidi }}</td>
            </tr>
        {% endfor %}
    </table>
</section>

<section>
    <label>Pick language</label>
    <div>
        {% for error in errors.lang %}
        <span class="error">{{ error }}</span><br>
        {% endfor %}
        <label>Current(get_language_from_request): </label><b>{{ language_code }}</b><br>
        {% get_current_language as TAMPLATE_LANGUAGE_CODE %}
        <label>Current(template): </label><b>{{ TAMPLATE_LANGUAGE_CODE }}</b><br>

        {% get_available_languages as LANGUAGES %}
        <label>Options: </label>
        {% for lang_code in LANGUAGES %}
            <a href="./?action=lang_apply&code={{ lang_code.0 }}"><b>{{ lang_code.0 }}</b></a>
        {% endfor %}
        <br/>
        <a href="./?action=lang_clear">Clear</a>
    </div>
</section>

<section>
    <label>Translation with context</label>
    <table>
        <tr><th>Context</th><th>Translated</th></tr>
        <tr><td>context_1</td><td>{% trans "Hi with different context2!" context "context_1" %}</td></tr>
        <tr><td>context_2</td><td>{% trans "Hi with different context2!" context "context_2" %}</td></tr>
    </table>
</section>

<section>
    <label>Plural translations</label>
    <table>
        <tr><th>Counter</th><th>Translated (code)</th><th>Translated (template)</th></tr>
        {% for i, text in plurals %}
            <tr><td>{{ i }}</td><td>{{ text }}</td><td>
            {# see notes https://docs.djangoproject.com/en/2.0/topics/i18n/translation/#pluralization #}
            {% if i == 1 %}
                {% trans "once in tamplate " %}
            {% else %}
            {% blocktrans count plural_counter=i %}
                {{ plural_counter }} time in template {% plural %} {{ plural_counter }} times in template
            {% endblocktrans %}
            {% endif %}
            </td></tr>
        {% endfor %}
    </table>
</section>


<section>
    <label>With context</label>
    This string will be translated, current date is {{ now }}.<br/>
    {% blocktrans %}This string will be translated, current date is {{ now }}.{% endblocktrans %}
</section>

<section>
    <label>String translation <b>_("my string")</b></label>
    {{ my_string }}
</section>

<section>
    <label>Date translation</label>
    Non localized <b>{{ now|unlocalize }}</b>
        {% localize off %}<b>{{ now }}</b>{% endlocalize %}
        {% language 'en' %}<b>{{ now }}</b>{% endlanguage %}
    <br/>
    Localized <b>{{ now }}</b>
</section>

{#TODO: add search logic#}
{#<section>#}
{#    <label>Search by translated field</label>#}
{#    <form method="POST" action="../">#}
{#        {% csrf_token %}#}
{#        <label>Text <input type="text" name="search_text"></label>#}
{#        <label>All translations<input type="radio" name="search_type" value="all_translations"></label>#}
{#        <label>Current plus fallback<input type="radio" name="search_type" value="current_w_fallback"></label>#}
{#        <button name="action" value="search">Search</button>#}
{#    </form>#}
{#</section>#}

<section>
    <label>Model translation (no lang availability filter)</label>
    <table>
        <tr><th>Id</th><th>Created at</th><th>Non translatable field</th><th>Translatable field</th></tr>
        {% for data in demo_data %}
            <tr><td>{{ data.id }}</td><td>{{ data.created_at }}</td><td>{{ data.non_translatable_field }}</td><td>{{ data.translatable_field }}</td></tr>
        {% endfor %}
    </table>
</section>

<section>
    <label>Model translation (fallback to any)</label>
    <table>
        <tr><th>Id</th><th>Created at</th><th>Non translatable field</th><th>Translatable field</th></tr>
        {% for data in demo_data_fallback_any %}
            <tr><td>{{ data.id }}</td><td>{{ data.created_at }}</td><td>{{ data.non_translatable_field }}</td><td>{{ data.translatable_field }}</td></tr>
        {% endfor %}
    </table>
</section>


<section>
    <label>Model translation (only with available translations)</label>
    <table>
        <tr><th>Id</th><th>Created at</th><th>Non translatable field</th><th>Translatable field</th></tr>
        {% for data in demo_data_active_trans %}
            <tr><td>{{ data.id }}</td><td>{{ data.created_at }}</td><td>{{ data.non_translatable_field }}</td><td>{{ data.translatable_field }}</td></tr>
        {% endfor %}
    </table>
</section>

</body>
</html>